.signup_company_form_view {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f3f7f7;
}
.signup_company_page_logo {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}
.signup_company_form_details_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup_company_page_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px -1px rgb(58 31 31 / 20%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 4px 5px 0 rgb(0 0 0 / 14%);
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  width: 50%;
}
#signup_company_from_field_view {
  background-color: #f3f7f7;
  box-sizing: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px inset,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  border: none;
  outline: none;
  text-decoration: none;
  border: 2px solid #d4d4d4;
}
#signup_company_form_error_view {
  color: red;
}
#sigbnup_company_page_button_view {
  border: none;
  text-decoration: none;
  background-color: #1ba94c;
  box-shadow: 0 2px 4px -1px #1ba94c, 0 1px 10px 0 #1ba94c, 0 4px 5px 0 #1ba94c;
  margin: 9px;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}
.signup_company_form_image_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.signup_company_form_image_view {
  height: 500px;
  width: 500px;
}
@media only screen and (max-width: 820px) {
  .signup_company_form_image_section {
    display: none !important;
  }
  .signup_company_page_form {
    width: 100%;
  }
}
